body {
  display: flex;
  flex-direction: column;
}
.headerBackground {
  position: absolute;
  background-color: #0991b2;
  padding-top: 200px;
  height: 450px;
  width: 100%;
  margin-top: -200px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 40%);
  transform: skewY(-10deg);
  z-index: -1;
}
.headerContainer {
  /* margin-bottom: 150px; */
}
.picAndAboutContainer {
  min-height: 400px;
  max-width: 80%;
  justify-self: center;
  /* transform: skewY(10deg); */
  background-color: white;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  padding: 10px 10px;
  margin-top: 50px;
}

.imgContainer {
  position: relative;
  float: left;
  margin-left: -40px;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-right: 20px;
  /* padding: 10px; */
}
img {
  max-width: 450px;
  max-height: 450px;
}
.name {
  /* position: absolute; */
  color: white;
  font-size: 2.5rem;
  margin: 0px 0px 0px 100px;

  transform: translateY(-50px);
  /* transform: translateX(-50px); */
}

.aboutMeContainer {
  /* width: fit-content; */
  margin-left: 32px;
  /* height: 200px; */
}

.aboutMeContainer h1 {
  font-size: 4rem;
  margin: 5px 0px;
}
.aboutMeContainer p {
  font-size: 1.5rem;
  margin: 0px 0px;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .picAndAboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    max-width: 80%;
    justify-self: center;
    /* transform: translateY(100px) skewY(10deg); */
    background-color: white;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 40%);
    box-sizing: border-box;
    padding: 10px 10px;
    /* margin-top: -20px; */
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    float: none;
    width: 90%;
    margin: auto;
  }

  img {
    width: 90%;
    aspect-ratio: 1 / 1;
  }
  .name {
    position: absolute;
    top: -50px;
    color: white;
    font-size: 6vw;
    justify-self: flex-end;
    margin: 20px 0px 0px 0px;

    /* transform: translateY(-350px); */
    /* transform: translateX(150px); */
  }
  .headerContainer {
    /* padding-top: 150px; */
  }
  body {
    padding-top: 10px;
  }
  .aboutMeContainer h1 {
    font-size: 6vw;
  }
  .aboutMeContainer p {
    font-size: 3vw;
  }
}

.contentContainer {
  margin-top: 200px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5em;
  width: 70%;
  margin: auto;
  /* justify-content: center; */
}

.project {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  justify-self: center;
}

#first .projectImg {
  background-color: #972c26;
  color: white;
  height: 65%;
}

#second .projectImg {
  background-color: #266297;
  color: white;
  height: 65%;
}

#third .projectImg {
  background-color: #269746;
  color: white;
  height: 65%;
}

#fourth .projectImg {
  background-color: #268f97;
  color: white;
  height: 65%;
}

#fifth .projectImg {
  background-color: #b72182;
  color: white;
  height: 65%;
}

#sixth .projectImg {
  background-color: #ef4923;
  color: white;
  height: 65%;
}

.projectHeader {
  display: flex;
  height: 15%;
}

.projectDescription {
  height: 20%;
}

.footerContainer {
  background-color: #0991b2;
  margin: auto;
  width: 100%;
  margin-top: 50px;
}
