body {
  display: flex;
  flex-direction: column;
}
body::before {
  position: absolute;
  width: 100%;
  height: 40rem;
  background-color: #0991b2;
  content: "";
  transform: skewY(-10deg);
  transform-origin: 0;
  z-index: -1;
  top: -5rem;
}

.picAndAboutContainer {
  min-height: 400px;
  max-width: 50%;
  justify-self: center;
  margin: 50 px 0 auto;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  padding: 10px 10px;
}

.imgContainer {
  position: relative;
  float: left;
  margin-left: -40px;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-right: 20px;
  /* padding: 10px; */
}
.imgContainer img {
  max-width: 450px;
  max-height: 450px;
}
.name {
  /* position: absolute; */
  color: white;
  font-size: 2.5rem;
  margin: 0px 0px 0px 100px;

  transform: translateY(-50px);
  /* transform: translateX(-50px); */
}

.aboutMeContainer {
  /* width: fit-content; */
  margin-left: 32px;
  /* height: 200px; */
}

.aboutMeContainer h1 {
  font-size: 4rem;
  margin: 5px 0px;
}
.aboutMeContainer p {
  font-size: 1.5rem;
  margin: 0px 0px;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .picAndAboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    max-width: 80%;
    justify-self: center;
    /* transform: translateY(100px) skewY(10deg); */
    background-color: white;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 40%);
    box-sizing: border-box;
    padding: 10px 10px;
    /* margin-top: -20px; */
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    float: none;
    width: 90%;
    margin: auto;
  }

  .imgContainer img {
    width: 90%;
    aspect-ratio: 1 / 1;
  }
  .name {
    position: absolute;
    top: -50px;
    color: white;
    font-size: 6vw;
    justify-self: flex-end;
    margin: 20px 0px 0px 0px;

    /* transform: translateY(-350px); */
    /* transform: translateX(150px); */
  }
  .headerContainer {
    /* padding-top: 150px; */
  }
  body {
    padding-top: 10px;
  }
  .aboutMeContainer h1 {
    font-size: 6vw;
  }
  .aboutMeContainer p {
    font-size: 3vw;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.contentHeader {
  font-size: 2.5rem;
  margin: auto;
}

.projectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5em;
  width: 70%;
  margin: auto;
  /* justify-content: center; */
}

.project {
  max-width: 35rem;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  justify-self: center;
}

.projectImg {
  height: 65%;
}

.projectHeader {
  display: flex;
  height: 15%;
  font-size: 1.5rem;
}
.projectHeader h3 {
  margin: 10px 10px;
}

.projectDescription {
  height: 20%;
  font-size: 1.1rem;
  margin: 0px 10px;
}

.footerContainer {
  background-color: #0991b2;
  margin: auto;
  width: 100%;
  margin-top: 50px;
  color: white;
  padding: 40px;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}

.projectImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1520px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .projectList {
    display: grid;
    grid-template-columns: 1fr;
  }
  .project {
    max-width: 28rem;
  }
}

.footerContainer img {
  max-width: 40%;
  height: auto;
  object-fit: contain;
}

.contactInfoContainer {
  width: 30rem;
}
